.root
{
    -fx-background-radius: 30;
    -fx-focus-traversable: false;
}

.label
{
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: Helvetica;
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.9) , 6, 0.0 , 0 , 2 );
}

.text-field
{
    -fx-font-family: consolas;
    -fx-font-size: 16px;
}

HBox
{
    -fx-alignment: center;
    -fx-spacing: 5px;
}

#lure-count
{
    -fx-text-alignment: center;
}

.button
{
    -fx-font: 18px Arial;
    -fx-base: #ee2211;
}

GridPane
{
    -fx-vgap: 14px;
    -fx-alignment: center;
    -fx-padding: 30px;
}

#time-picker
{
    -fx-max-width: 150px;
    -fx-min-width: 150px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button
{
    -fx-body-color: #f24f40;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover
{
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: ladder(#444, #f36558 0%, red 100%);
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed
{
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: ladder(#AAA, #f36558 0%, red 100%);
}

.check-box
{
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 18;
    -fx-text-fill:#01449f;
}

.check-box .box
{
    -fx-outer-border: #cadbec;
    -fx-body-color: white;
    -fx-background-color:
    -fx-outer-border,
    -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2px, 0px;
}

.check-box .mark
{
    -fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004
    l0.003,0.004L14.596,2.055z";
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-color: brown;
}